<!--
Copyright 2018 Your Company ISC License License
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
Created by mallanic <maxime@allanic.me> at 05/06/2018
-->

<html ng-app="router">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <link rel="stylesheet" type="text/css" href="/css/signin.css">


        <script src="/jquery/jquery.slim.min.js"></script>
        <script src="/angular/angular.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script src="/angular1-ui-bootstrap4/ui-bootstrap.js"></script>
        <script src="/angular-ui-router/angular-ui-router.min.js"></script>
        <script src="/js/module.js"></script>
        <script src="/js/api.js"></script>
    </head>
    <body ui-view="main">

    </body>
</html>
