/*
 * Copyright 2018 Allanic ISC License License
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 * Created by mallanic <maxime@allanic.me> at 05/06/2018
 */

body {
  font-size: .875rem;
  height: 100vh;
}

body > div {
  position: relative;
  height: 100vh;
}

[role="main"] {
  position: relative;
}

[role="main"] > div {
  padding: 45px 0;
}
