<!--
Copyright 2018 Allanic ISC License License
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
Created by mallanic <maxime@allanic.me> at 05/06/2018
-->

<html ng-app="router">
    <head>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="apple-touch-icon" sizes="180x180" href="/asset/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/asset/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/asset/favicon/favicon-16x16.png">
        <link rel="manifest" href="/asset/favicon/site.webmanifest">
        <link rel="mask-icon" href="/asset/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/asset/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#ffc40d">
        <meta name="msapplication-config" content="/asset/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <% _.forEach(files.css, (file) => { %>
        <link rel="stylesheet" type="text/css" href="/<%= file %>">
        <% }) %>

        <% _.forEach(files.js, (file) => { %>
        <script src="/<%= file %>"></script>
        <% }) %>
    </head>
    <body ui-view="main" class="animate-fade bg-light">

    </body>
</html>
